-title "Tekukan: Products"

%section#products
  %ul
    %li
      = link_to image_tag('tekukan.png', alt: 'Tekukan: Digital Solutions To Enhance Your Online Presence', title: 'Tekukan: Digital Solutions To Enhance Your Online Presence'), 'http://www.tekukan.com'
      %p
        = "The"
        = link_to "Tekukan", 'http://www.tekukan.com'
        = "website itself is designed and developed by Alex Peachey, Owner of Tekukan LLC."
      %p
        = "The website source and available for viewing at"
        = link_to "Github.", 'https://github.com/alexpeachey/tekukan', target: '_blank'
      %p
        = "The website is based on a Ruby on Rails application template that can also be found at"
        = link_to "Github.", 'https://github.com/alexpeachey/rails-template', target: '_blank'
        = "This base template is a work in progress with plans to turn it into a full CMS application with modular engines for specific functionality."
    %li
      = link_to image_tag('threadbias.png', alt: 'Threadbias: Come Sew With Us', title: 'Threadbias: Come Sew With Us'), 'https://www.threadbias.com', target: '_blank'
      %p
        = link_to "Threadbias", 'https://www.threadbias.com', title: 'Threadbias: Come Sew With Us', target: '_blank'
        = "is an social website for the sewing community covering quilting, clothes, embroidery, accessories, home accents, and any other fabric and thread based crafts."
      %p
        = "Threadbias was designed by"
        = link_to "Aeolidia", 'http://www.aeolidia.com', target: '_blank'
        = "with principal designer"
        = link_to "Zoe Rooney", 'http://www.zoerooney.com', target: '_blank'
        = "and illustrations by"
        = link_to "Aimee Ray.", 'http://dreamfollow.com', target: '_blank'
      %p= "The Threadbias platform and application was developed by Alex Peachey, Founder/CEO of Threadbias and Owner of Tekukan LLC. It was developed using Ruby on Rails 3.1 and is backed by a combination of PostgreSQL and Redis databases."
    %li
      = link_to image_tag('digital_pancreas.png', alt: 'Digital Pancreas', title: 'Digital Pancreas'), 'http://www.digitalpancreas.com', target: '_blank'
      %p
        = link_to "Digital Pancreas", 'http://www.digitalpancreas.com', title: 'Digital Pancreas', target: '_blank'
        = "is an online tool for tracking blood glucose levels, carbohydrate intake, exercise, and insulin intake for Diabetics."
      %p= "This product is a work in progress and currently acts only as a tracking device. Later enhancements will include graphing, export to CSV/Excel, and a recommendation system that will recommend the best likely dose of Bolus insulin."
      %p= "Digital Pancreas has been designed and developed by Alex Peachey, and is a product of Tekukun LLC"