-title "Tekukan: Services"

%section#services
  %header
    %h1= "Tekukan can create a complete online presence for your company if none exists today, or we can help you grow and strengthen your existing solutions."
    %h2= "We offer the following services:"
  %ul
    %li= "Website/Web-Application development. We can work with your existing designer(s) or marketing collateral. Or, if you do not have an existing designer we can help you find a designer that fits your business. Then from this initial design work we will build a website or web application that fits your needs."
    %li= "Consultation on the best hosting strategy and help you manage the ongoing monitoring and maintenance of your web site."
    %li= "Consultation on usability and effectiveness of your current web presence."
    %li= "Set up and consult with you on how to make effective use of Email Marketing."
    %li= "Set up and consult with you on how to actively participate in social networking channels."
    %li= "Help you mine your existing database of customers to increase the effectiveness of your marketing efforts."
    %li= "Help you select and set up a customer management system or custom develop one to fit your exact needs."
    %li= "Much more, just ask and we'll let you know if we feel our capabilities are aligned to your request."
